# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/#use-with-ide
.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/


# Explo
1_Latest_version_Hop_Scrapper_V5/Explo/
1_Latest_version_Hop_Scrapper_V5\SQL_V1/
1_Latest_version_Hop_Scrapper_V5/SQL_V1/Key.py
3_Skripts/3_Scraper_Skript/V6 Bridge.code-workspace
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Hall-of-Pole-Version-6.code-workspace
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Pole Studios (1).csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Klassen_Liste_Class_E.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Klassen_Übersicht_SCL.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Pole_Studio_Übersicht_S.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Workshop_Liste_SW.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Workshop_Übersicht_E.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/Klassen_Liste_Class_E.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/Klassen_Übersicht_SCL.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/Pole_Studio_Übersicht_S.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/Workshop_Liste_SW.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/Workshop_Übersicht_E.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/24.01.24/Klassen_Liste_Class_E.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/24.01.24/Klassen_Übersicht_SCL.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/24.01.24/Pole_Studio_Übersicht_S.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/24.01.24/Workshop_Liste_SW.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/24.01.24/Workshop_Übersicht_E.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/26.01.24/Klassen_Liste_Class_E.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/26.01.24/Klassen_Übersicht_SCL.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/26.01.24/Pole_Studio_Übersicht_S.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/26.01.24/Workshop_Liste_SW.csv
1_Latest_version_Hop_Scrapper_V5/Scraper_V3/Data/New Data/26.01.24/Workshop_Übersicht_E.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/all_pole_studios_germany_&_Didi_valid_urls.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/all_pole_urls_S_ger_didi_mo_handchecked.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/all_urls_SW_ger_didi_handchecked.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/didi_sorted_urls_S_SW_SK_not_validated.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/DWO_URLS_Workshops_2_Valid.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/eversports_urls_1.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/Kopie von PoleStudio.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/OG_Valid_Urls.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/Pole Studios.xlsx
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/pole_studios_ger_not_validated_L_2.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/pole_studios_ger_not_validated_L_S_DWO.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/pole_studios_ger_not_validated_L.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/pole_studios_ger_validated_urls_S_handchecked.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/pole_studios_ger_validated_urls_S_SW.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/pole_studios_ger_validated_urls_SW_handchecked.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/PoleStudio_Overview_Didi_yo.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/PoleStudio_Overview_ger_2023-05-12_12-25.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/PoleStudio_Overview_ger_2023-05-14_16-53.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/PoleStudio.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/polestudios_ger_checked_hand_urls.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/polestudios_ger_checked_urls.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/polestudios_ger_l_Original.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/polestudios_ger_unchecked.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/polestudios.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/Scraper_cities_DWO_S_L.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/to_validate_S_polestudios_didi_handchecked_P2.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/unique_urls_s_23.12.23.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/urls_didi.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/Urls_PoleStudios_17_05.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/URLS_SCL_Workshops.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/validated_polestudios_V2.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/Pole Studios (1).csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/Pole Studios.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/unique_urls_s_23.12.23.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/validated_polestudios_V2.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-03_01-18.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-03_19-32.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-05_16-01.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-06_13-24.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-06_21-48.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-07_13-43.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-07_20-58.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-08_19-10.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-10_20-18.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-12_13-18.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-12_15-23.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-12_15-57.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-12_20-51_P2.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-13_12-59.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-13_13-07.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-13_19-29.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-14_16-52.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-15_22-38.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-05-16_20-19.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-06-03_22-04.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-06-03_22-14.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_PoleStudio_Overview_Didi_2023-06-05_13-19.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_Workshop_Overview_Didi_e_2023-05-05_17-54.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_Workshop_Overview_Didi_e_2023-05-12_15-23.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/CSV_Collector/1_Workshop_Overview_Didi_e_2023-05-13_19-29.csv
.gitignore
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/OLD CSV Test/Hall_of_Pole_Klassenlist_URLS_SCL_E.csv
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/OLD CSV Test/Hall_of_Pole_Klassenlist_URLS_SCL.csv
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/OLD CSV Test/Hall_of_Pole_Pole_Studios_URL_S.csv
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/OLD CSV Test/Hall_of_Pole_Pole_Workshop_URL_E.csv
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/OLD CSV Test/Hall_of_Pole_Pole_Workshoplist_URL_SW.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/didi_url_s_23.12.23.csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/Events (1).csv
1_Latest_version_Hop_Scrapper_V5/c_Explo/Events.csv
.gitignore
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/validated_polestudios_V2.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/24.01.24/Klassen_Liste_Class_E.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/24.01.24/Klassen_Übersicht_SCL.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/24.01.24/Pole_Studio_Übersicht_S.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/24.01.24/Workshop_Liste_SW.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/24.01.24/Workshop_Übersicht_E.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/26.01.24/Klassen_Liste_Class_E.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/26.01.24/Klassen_Übersicht_SCL.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/26.01.24/Pole_Studio_Übersicht_S.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/26.01.24/Workshop_Liste_SW.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/New Data/26.01.24/Workshop_Übersicht_E.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/Old Data/all_classes_data.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/Old Data/all_classes_details_data.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/Old Data/all_pole_studio_data.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/Old Data/all_workshop_details_data.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/Old Data/all_workshops_data.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/Old Data/Urls/didi_url_s_23.12.23.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Data/Old Data/Urls/unique_urls_s_23.12.23.csv
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/all_classes_data.csv
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/all_classes_details_data.csv
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/all_pole_studio_data.csv
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/all_workshop_details_data.csv
1_Latest_version_Hop_Scrapper_V5/b_SQL_V1/all_workshops_data.csv
1_Latest_version_Hop_Scrapper_V5/a_Scraper_V3/Pole Studios (1).csv
